html {
    box-sizing: border-box;
}
*,*:before,*:after {
    box-sizing:inherit;
}

body {
    font-size: 24px;
    background-image: url('images/background.gif');
    font-family: 'Courier New', Courier, monospace;
}

body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-thumb {
    background: rgb(255, 4, 176);
}

body::-webkit-scrollbar-track {
    background: #0d0612;
}


/* banner stuff, it's a mess */

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: fit-content;
    max-width: 1100px;
    margin-top: 1.5%;
    margin-inline: auto;
    background-color: rgba(255, 4, 176, 0.1);
    backdrop-filter: blur(5px);
    animation: border-animate 4s linear infinite alternate;
}

@keyframes border-animate {
    0% { border: dotted  rgb(255, 4, 176); }
    50% { border: dashed #0008ff; }
    100% { border: solid #5f00dc; }
}

.button-column {
    list-style-type: none;
    flex-direction: column;
    align-content: center;
    margin: 0.5%;
    padding: 0;
}

.banner-item {
    flex: 1;
    position: relative;
}

#button-1 {
    position: absolute;
}

#button-1:hover {
    opacity: 0;
}

#title-container {
    flex: 4;
    align-content: center;
    padding: 0.5;
}

#title {
    animation: rainbow 4s linear infinite;
    text-align: center;
    font-size: 30px;
    background-color: rgba(255, 4, 176, 0.5);
    border: groove rgba(255, 4, 176, 1);
    margin-inline: 5%;
}

@keyframes rainbow {
    0% { color: #ff0000; }
    12.5% { color: #FF7F00; }
    25% { color: #FFFF00; }
    37.5% { color: #00FF00; }
    50% { color: #058b30; }
    62.5% { color: #00bbff; }
    75% { color: #0008ff; }
    87.5% { color: #5f00dc; }
    100% { color: #ff049a; }
}

/* divider stuff, still a mess */

.divider-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1%;
    margin-bottom: 1%;
}

.divider-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divider-text {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 18px;
    font-weight: bold;
    color:#474dff;
    background-color: rgba(255, 4, 176, 0.5);
    backdrop-filter: blur(5px);
    border: dotted #0008ff;
    padding: 2px;
    text-align: center;
}

.divider-text:hover {
    animation: rainbow 4s linear infinite;
}


/* main body */

.main-body {
    display: grid;
    grid-template-areas: 
    "text images";
    grid-template-columns: 3fr 1fr;
    gap: 1%;
    padding: 0.5%;
}

p {
    border:2px dotted rgb(255, 4, 176);
    color: seashell;
    background-color: rgba(58, 4, 255, 0.288);
    backdrop-filter: blur(5px);
    letter-spacing: 0.75px;
    line-height: 35px;
    padding: 5px;
}

h2 {
    border:2px dotted rgb(135, 250, 146);
    color: seashell;
    background-color: rgba(58, 4, 255, 0.288);
    backdrop-filter: blur(5px);
    letter-spacing: 0.75px;
    line-height: 35px;
    padding: 10px;
    width: fit-content;
}

h2 img{
    height: 35px;
}

.text-container {
    grid-area: text;
}

.image-container {
    grid-area: images;
}

.image-container img{
    padding: 10px;
    width: 100%;
}

i{
    border:2px dotted lightskyblue;
    color: palegoldenrod;
}

cite{
    border:5px solid lightskyblue;
    background-color: paleturquoise;
}

small{
    border:2px dotted rgb(250, 135, 171);
    color: palevioletred;
}

strong{
    border:2px dashed lightskyblue;
    background-color: wheat;
}